{{!-- USER SUBMITS A NEW AUTHOR --}}
<div id="createAuthor">
  <h2>{{title}}</h2>
  <div class="container">
    <div class="row">
      <div class="col-4">
          <h4>{{msg}}</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-9">
        <div id="postContainer" class="container">
          <div class="row">
            <div class="col-12">
              <form class="clearfix mb-4" action="POST">

                <div class="form-group">
                  <label for="post-author"></label>
                  <input type="text" id="post-author" class="form-control" aria-describedby="post-author" placeholder="Your Name">
                </div>

                <div class="form-group">
                  <label for="post-title"></label>
                  <input type="text" id="post-title" class="form-control" aria-describedby="post-title" placeholder="Title">
                </div>

                <button id="submit" type="submit" class="btn btn-danger float-right">Post</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="col-3">
        <a>r/Android</a> 
        <div class="container sidebar">
          <div class="row">
            <div class="col">
              <a>Android news, reviews, tips, and discussions about rooting, tutorials, and apps. 
                Generic discussion about phones/tablets is allowed, but technical-support and carrier-related issues 
                should be asked in their respective subreddits!</a> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  #postContainer {
    background-color: gray;
    border-radius: 10px;
  }
  .sidebar {
    border: solid;
  }
  .buttonMarkups {
    width: 28px;
  }
  #buttonOrderedList, #buttonUnorderedList {
    width: 35px;
  }
  body {
    background-color: black;
    color: white;
  }
  #post-description { 
    border-radius: 5px; 
    height: 100px;
  }
  #post-author{
    margin-bottom: -24px;
  }
  fieldset {
    margin-bottom: -20px;
  }
  [contentEditable=true]:empty:not(:focus):before {
    content:attr(data-text);
    color: gray;
  }
</style>
