<div id="createCategory">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row justify-content-center">
          <h4 class="segoeFont"> {{msg}} </h4>
        </div>
      </div>

      <div class="col-md-9">
        <div id="postContainer" class="container">
          <div class="row">
            <div class="col-12">
              <form class="clearfix mb-4" method="POST">

                <div class="form-group">
                  <label for="categoryName">
                    <h4 class="segoeFont">Category Name</h4>
                  </label>
                  <input type="text" id="categoryName" class="form-control" aria-describedby="category-text" placeholder="Ex: Sports, Cars, Apple, Android, etc...">
                </div>

                <div class="form-group">
                  <label for="categoryRules">
                    <h4 class="segoeFont">Category Rules and Guidelines</h4>
                  </label>
                  <textarea class="form-control" id="category-description" aria-describedby="category-description" placeholder="No Cursing or Profanity!"></textarea>
                </div>

                <button id="submitCat" class="btn btn-danger float-right">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>