<div class="container-fluid" id="nav">
    <div class="row">
        <div class="col-sm-12">
            <span>
                <a href="./index.html">
                    <img id="logo" src="../public/images/PostItLogoWhite.png">
                </a>
                <div id="carouselNav" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img id="slogan" class="d-block w-100" src="../public/images/post.png" alt="POST">
                        </div>
                        <div class="carousel-item">
                            <img id="slogan" class="d-block w-100" src="../public/images/comment.png" alt="COMMENT">
                        </div>
                        <div class="carousel-item">
                            <img id="slogan" class="d-block w-100" src="../public/images/vote.png" alt="VOTE">
                        </div>
                    </div>
                </div>
            </span>
            <span id="navbuttons">
                <a class="navlink" href="./index.html">
                    <i class="fas fa-home"></i>
                </a>
                <div id="searchWrapper">
                    <input type="text" placeholder="Search" id="searchBar">
                    <button id="searchButton">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </span>
        </div>
    </div>
</div>

<div id="emptySpace"></div>
