body {
    background: #343434;
}

/*Nav bar*/

@keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-5px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

#logo {
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 40px;
    vertical-align: middle;
    display: inline-block;
    -webkit-animation: slideInFromTop 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slideInFromTop 1s; /* Firefox < 16 */
     -ms-animation: slideInFromTop 1s; /* Internet Explorer */
      -o-animation: slideInFromTop 1s; /* Opera < 12.1 */
         animation: slideInFromTop 1s;
}

#name {
    margin-top: 10px;
    vertical-align: middle;
    display: inline-block;
    border-left: solid white 1px;

}

.navbarBrand {
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    line-height: 80%;
    margin: 5px;
    color: white;
}

#navbarName {
    letter-spacing: 1px;
    -webkit-animation: slideInFromLeft 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slideInFromLeft 3s; /* Firefox < 16 */
     -ms-animation: slideInFromLeft 3s; /* Internet Explorer */
      -o-animation: slideInFromLeft 3s; /* Opera < 12.1 */
         animation: slideInFromLeft 3s;
}

#navbarTitle {
    letter-spacing: 2px;
    font-size: 13px;
    -webkit-animation: slideInFromLeft 3s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slideInFromLeft 3s; /* Firefox < 16 */
     -ms-animation: slideInFromLeft 3s; /* Internet Explorer */
      -o-animation: slideInFromLeft 3s; /* Opera < 12.1 */
         animation: slideInFromLeft 3s;
}

#nav {
    width: 100%;
    height: 80px;
    background-color: #454545;
}

.navlink {
    margin-right: 40px;
    font-family: 'Raleway', sans-serif;
    color: white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: color linear 1s; 
    transition: color linear 1s;
    
}

.navlink:hover {
    color: #FF2400;
    text-decoration: none;
}

#dropdownMenuButton {
    color: white;
    display: none;
    float: right;
    margin-top: 25px;
    padding-right: 5px;
    vertical-align: middle;
    -webkit-animation: slideInFromTop 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slideInFromTop 1s; /* Firefox < 16 */
     -ms-animation: slideInFromTop 1s; /* Internet Explorer */
      -o-animation: slideInFromTop 1s; /* Opera < 12.1 */
         animation: slideInFromTop 1s;
}

#navbuttons {
    float: right;
    -webkit-animation: slideInFromTop 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: slideInFromTop 1s; /* Firefox < 16 */
     -ms-animation: slideInFromTop 1s; /* Internet Explorer */
      -o-animation: slideInFromTop 1s; /* Opera < 12.1 */
         animation: slideInFromTop 1s;
}

.dropdown-menu {
    background: #323232;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  
}


.dropdown-item {
    font-family: 'Raleway', sans-serif;
    color: white;
    margin-top: 25px;
    padding-right: 5px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: color linear 1.5s; 
    transition: color linear 1.5s;
}

.dropdown-item:hover {
    color: #0adecb;
    text-decoration: none;
    background-color: transparent;
}



.navbar-nav {
    min-width:360px;
    float: left;
    margin: 0;
}
.nav-item {
    float: left;
}

.fas fa-bars {
    color: white;
}

#searchBar {
    border-radius: 10px;
    outline: none;
    border: none;
}

#searchWrapper {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    background-color: white;
    border-radius: 15px;
    margin-top: 25px;
}

#searchButton {
    background: none;
    border: none;
}

