body {
  background: linear-gradient(#343434, #121212);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#emptySpace {
  height: 100px;
  margin: 50px;
}

.list-group-item {
  line-height: 2.5;
}

/* NAVBAR */
#carouselNav {
  width: 100px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
}

#logo {
  height: 50px;
  width: 50px;
  margin-left: 40px;
  vertical-align: middle;
  display: inline-block;
  -webkit-animation: slideInFromTop 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideInFromTop 1s;
  /* Firefox < 16 */
  -ms-animation: slideInFromTop 1s;
  /* Internet Explorer */
  -o-animation: slideInFromTop 1s;
  /* Opera < 12.1 */
  animation: slideInFromTop 1s;
}

#name {
  vertical-align: middle;
  display: inline-block;
  border-left: solid white 1px;

}

.navbarBrand {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  line-height: 80%;
  margin: 5px;
  color: white;
}

#navbarName {
  letter-spacing: 1px;
  -webkit-animation: slideInFromLeft 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideInFromLeft 3s;
  /* Firefox < 16 */
  -ms-animation: slideInFromLeft 3s;
  /* Internet Explorer */
  -o-animation: slideInFromLeft 3s;
  /* Opera < 12.1 */
  animation: slideInFromLeft 3s;
}

#navbarTitle {
  letter-spacing: 2px;
  font-size: 13px;
  -webkit-animation: slideInFromLeft 3s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideInFromLeft 3s;
  /* Firefox < 16 */
  -ms-animation: slideInFromLeft 3s;
  /* Internet Explorer */
  -o-animation: slideInFromLeft 3s;
  /* Opera < 12.1 */
  animation: slideInFromLeft 3s;
}

#nav {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #121212;
  background-color: #454545;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navlink {
  margin-right: 40px;
  font-family: 'Raleway', sans-serif;
  color: white;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: color linear 1s;
  transition: color linear 1s;

}

.navlink:hover {
  color: #FF2400;
  text-decoration: none;
}

#dropdownMenuButton {
  color: white;
  display: none;
  float: right;
  margin-top: 25px;
  padding-right: 5px;
  vertical-align: middle;
  -webkit-animation: slideInFromTop 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideInFromTop 1s;
  /* Firefox < 16 */
  -ms-animation: slideInFromTop 1s;
  /* Internet Explorer */
  -o-animation: slideInFromTop 1s;
  /* Opera < 12.1 */
  animation: slideInFromTop 1s;
}

#navbuttons {
  float: right;
  -webkit-animation: slideInFromTop 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: slideInFromTop 1s;
  /* Firefox < 16 */
  -ms-animation: slideInFromTop 1s;
  /* Internet Explorer */
  -o-animation: slideInFromTop 1s;
  /* Opera < 12.1 */
  animation: slideInFromTop 1s;
}

.dropdown-menu {
  background: #323232;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

}


.dropdown-item {
  font-family: 'Raleway', sans-serif;
  color: white;
  margin-top: 25px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: color linear 1.5s;
  transition: color linear 1.5s;
}

.dropdown-item:hover {
  color: #0adecb;
  text-decoration: none;
  background-color: transparent;
}



.navbar-nav {
  min-width: 360px;
  float: left;
  margin: 0;
}

.nav-item {
  float: left;
}

.fas fa-bars {
  color: white;
}

#searchBar {
  border-radius: 10px;
  outline: none;
  border: none;
}

#searchWrapper {
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  background-color: white;
  border-radius: 15px;
  margin-top: 25px;
}

#searchButton {
  background: none;
  border: none;
}

/* INDEX.HANDLEBARS */
   /*Landing Page*/

   #postPreview {
    margin-top: 20px;
}

.voteValue {
    display: inline-block;
}

.userPostImage {
    border-radius: 50%;
    height: 100px;
}

.upvoteButton {
    background: none;
    border: none;
    color: #FF2400;
}

.downvoteButton {
    background: none;
    border: none;
    color: #FF2400;
}

.userPostName {
    color: white;
    font-size: 15px;
}

.voteValue {
    color: #888888;
    font-size: 20px;
}

.userPostBody {
    background-color: #454545;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.userPostTitle {
    display: inline-block;
    color: white;
    letter-spacing: 3px;
}

.userPostTimeStamp {
    display: inline-block;
    font-style: italic;
    font-size: 15px;
    color: #222222;
}


p {
    color: #cbcbcb
}

.userPostPreview {
    text-decoration: none;
    font-style: italic;
}

.userPostPreview:hover {
    text-decoration: none;
}

#postBreakLine {
    background-color: #cbcbcb
}

#postPreview {
    margin-bottom: 50px;
}

.userPostCommentsPreview {
    display: inline-block;
    font-style: italic;
    font-size: 15px;
    color: #222222;
}

/*SideBar*/

/*Links*/

#sidebar {
    background-color: #454545;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 80px;
}

#sidebarHeader {
    display: inline-block;
    color: white;
    letter-spacing: 3px;
}

#createPostButton {
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 13px;
    transition: all 1s;
}

#createPostButton:hover {
    background-color: #9A9A9A;
}

#createAuthorButton {
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    font-size: 13px;
    transition: all 1s;
}

#createAuthorButton:hover {
    background-color: #9A9A9A;
}

#createCategoryButton {
    padding: 10px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    font-size: 13px;
    transition: all 1s;
}

#createCategoryButton:hover {
    background-color: #9A9A9A;
}


/*Community Guidelines*/

#communityGuidelines {
    background-color: #454545;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-right: 80px;
}

#communityGuidelinesText {
    color: #9A9A9A;
    font-size: 12px;
}

#communityGuidelinesHeader {
    display: inline-block;
    color: white;
    letter-spacing: 3px;
    font-size: 13px;
}




/* POST.HANDLEBARS */
#postContainer {
  background-color: gray;
  border-radius: 10px;
}

.sidebar {
  border: solid;
}

.buttonMarkups {
  width: 28px;
}

#buttonOrderedList,
#buttonUnorderedList {
  width: 35px;
}

body {
  background-color: black;
  color: white;
}

#post-description {
  border-radius: 5px;
  height: 100px;
}

#post-author {
  margin-bottom: -24px;
}

fieldset {
  margin-bottom: -20px;
}

[contentEditable=true]:empty:not(:focus):before {
  content: attr(data-text);
  color: gray;
}




/* AUTHOR.HANDLEBARS */
#postContainer {
  background-color: gray;
  border-radius: 10px;
}

.sidebar {
  border: solid;
}

.btn-sm {
  width: 28px;
}

body {
  background-color: black;
  color: white;
}

#post-description {
  border-radius: 5px;
}

#username {
  margin-bottom: -24px;
}

fieldset {
  margin-bottom: -20px;
}

.dropdownButton {
  margin-left: -3px;
}


/* COMMENTS SECTION */
/* comments */
.userPostsComments {
  background-color: #323232;
  margin-top: 3px;
}

.userPostsCommentsName {
  color: white;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  margin-left: 5px;
  margin-top: 10px;
}

.userPostsCommentsText {
  color: white;
  font-size: 12px;
  padding: 5px;
  margin-left: 5px;
  margin-top: 10px;
}
